*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #FFF;
  background: linear-gradient(to bottom, #36603E, #1E262C);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1209px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a, button {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}