@use "mixin" as mix;

.mainInfo {
  font-weight: 600;
  font-size: 41px;
  margin: 50px 0 80px 0;
  text-align: center;
  @include mix.lg {
    font-size: 35px;
  }
  @include mix.md {
    font-size: 28px;
  }
  @include mix.sm {
    font-size: 22px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 2s;
  max-width: 334px;
  padding: 38px 60px;
  margin: 0 0 60px 0;
  border-radius: 11px;
  background: #6A994E;
}

.card-btn {
  border-radius: 7px;
  border: 0.864px solid #D0D0D0;
  margin: auto 0 0 0;
  padding: 12px 42px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.10);
}

  .card-1:hover {
    background: #1D252B;
    max-width: 380px;
    z-index: 10;
    margin: -40px -120px 100px 0;
    @include mix.lg {
      margin: 0;
      max-width: 334px;
    }
    transition: background 1000ms, max-width 2s, margin 2s;
  }

  .card-2:hover {
    background: #1D252B;
    max-width: 380px;
    z-index: 10;
    margin: -40px -180px 100px -180px;
    @include mix.lg {
      margin: 0;
      max-width: 334px;
    }
    transition: background 1000ms, max-width 2s, margin 2s;
  }

  .card-3:hover {
    background: #1D252B;
    max-width: 380px;
    z-index: 10;
    margin: -40px 0 100px -120px;
    @include mix.lg {
      margin: 0;
      max-width: 334px;
    }
    transition: background 1000ms, max-width 2s, margin 2s;
  }

  .card:hover .spanInfo::after {
    display: none;
  }

  .card:hover .card-btn {
    position: relative;
    background: #BC4749;
    transition: background 1000ms;
    border: 0.864px solid #BC4749;
  }

  .card-btn::after {
    content: "";
    position: absolute;
    background: url("../../images/arrow.svg") no-repeat 50% 50%;
    display: block;
    width: 17px;
    height: 17px;
    right: 45px;
    top: 10px;
    @include mix.sm {
      right: 20px;
    }
  }

.infoH5 {
  margin: 0 0 15px 0;
  font-weight: 600;
  color: #FFF;
  font-size: 16px;
}

.spanNumber {
  padding: 0 0 0 10px;
  position: relative;
  font-weight: 800;
  font-size: 38px;
}

.val {
  padding: 4px;
  display: block;
  cursor: pointer;
  margin: 0 0 -7px 0;
}

.date {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.70);
  margin: 0 0 15px 0;
  display: inline-block;
}

.spanInfo {
  position: relative;
  margin: 0 0 49px 0;
  color: rgba(255, 255, 255, 0.70);
}

.spanInfo::after {
  content: "";
  position: absolute;
  display: block;
  background: url("../../images/line.svg") no-repeat 50% 50%;
  width: 334px;
  height: 1px;
  bottom: -27px;
  left: -60px;
}

.blockSpan {
  margin: 0 0 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.pInfo {
  font-weight: 600;
  font-size: 15.139px;
}

.pAndSpan {
  margin: 0 0 24px 0;
}

.pAndSpan span {
  font-weight: 500;
  font-size: 13px;
}

.card a {
  padding: 5px 0 5px 20px;
  position: relative;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.80);
  margin: 10px 0 10px 0;
}

.card a::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../../images/fly.svg") no-repeat 50% 50%;
  left: 4px;
  top: 7px;
  width: 11px;
  height: 10px;
}

.card a:hover {
  color: #FFF;
  font-weight: 500;
  font-size: 13px;
}